anyascii==0.3.2
asgiref==3.8.1
asttokens==3.0.0
beautifulsoup4==4.13.4
certifi==2025.1.31
charset-normalizer==3.4.1
decorator==5.2.1
defusedxml==0.7.1
django==5.2
django-filter==25.1
django-modelcluster==6.4
django-permissionedforms==0.1
django-stubs-ext==5.1.3
django-taggit==6.1.0
django-tasks==0.6.1
django-treebeard==4.7.1
djangorestframework==3.16.0
draftjs-exporter==5.1.0
et-xmlfile==2.0.0
executing==2.2.0
filetype==1.2.0
idna==3.10
ipython==9.1.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
laces==0.1.2
matplotlib-inline==0.1.7
openpyxl==3.1.5
parso==0.8.4
pexpect==4.9.0
pillow==11.2.1
pillow-heif==0.21.0
prompt-toolkit==3.0.51
ptyprocess==0.7.0
pure-eval==0.2.3
pygments==2.19.1
pyparsing==3.2.3
pyvalem==2.8.0
requests==2.32.3
soupsieve==2.7
sqlparse==0.5.3
stack-data==0.6.3
telepath==0.3.1
traitlets==5.14.3
typing-extensions==4.13.2
urllib3==2.4.0
wagtail==6.4.1
wcwidth==0.2.13
willow==1.10.0
