<form action="." method="get" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="species">
        Species
    </label>
    <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="species" name="qf" placeholder="Search..." value="{{ request.GET.qf }}">
    </div>
    <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Search</button>
</form>
